html,
body,
#wrapper {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 700px;
  height: 100%;
  margin: auto;
  color: #1D1F21;
  /* Dark text color */
  background-color: #FFF3F6;
  /* Hazy sky color */
}

td.maincontent {
  font-family: Arial;
  font-size: 75%;
  background: #FFF3F6;
  /* Hazy sky color */
}


.background {
  /* background-color: #FFF3F6; */
  background-color: #FFF3F6;
  /* Hazy sky color */
}

a:link,
a:visited,
.summary-link,
.summary-link:visited {
  font-family: Arial, Georgia, "Times New Roman", Times, sans-serif;
  text-decoration: none;
  cursor: pointer;
  /* font-size: 18px; */
  color: #3B74FF;
  /* Deep brick orange links and text */
}

a.header {
  font-family: Arial, Georgia, "Times New Roman", Times, sans-serif;
  text-decoration: none;
  color: #000000;
  /* Set your desired color for the header link */
}

.social-icons li {
  display: inline;
  margin-right: 10px;
}

/* .bullet-link::before {
  content: "+ ";
} */

.bullet-link[data-expanded="true"]::before {
  content: "- ";
}

.bullet-link[data-expanded="false"]::before {
  content: "+ ";
}

/* Style for the address text */
address {
  font-family: Arial, Georgia, "Times New Roman", Times, sans-serif;
  text-decoration: none;
  color: #3B74FF;
  /* Set your desired color for the address text */
}

thanks {
  color: #1D1F21;
  /* Dark thanks text */
}

#wrapper {
  margin: 0 auto;
  text-align: left;
  vertical-align: middle;
  width: 700px;
}